@font-face {
  font-family: 'BrandonGrotesqueBold';
  src:  url('/fonts/brandon_bld.woff') format('woff');
}

@font-face {
  font-family: 'BrandonGrotesqueMedium';
  src:  url('/fonts/brandon_med.woff') format('woff');
}

@font-face {
  font-family: 'AvenirLight';
  src:  url('/fonts/avenir-light-webfont.woff') format('woff');
}

.headercontainer {
  position:fixed;
  background: url("https://github.com/irisjang/irisjang.github.io/raw/master/lacmabw.jpg") no-repeat center center fixed; 
  height:450px;
  width:100%;
  margin-left:-30px;
  margin-top:-20px;
}

.pagetitle {
  background:#000000;
  text-align:center;
  width:300px;
  margin: 50px auto 0;
  padding: 40px;
  font-size:40px;
  color:white;
  font-family:Futura,'Source Sans Pro', sans-serif;
  border-style:solid;
  border-width:10px;
  border-color:#ffff00;
  /*border-top-color:#ffff00;
  border-left-color:transparent;
  border-right-color:transparent;
  border-bottom-color:transparent;*/

}

.linkscontainer {
  text-align:center;

  width:100%;
  margin-top:50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
   margin:auto;
   display: inline-block;
   padding: 0px 50px;
}

li a {
  display:block;
  text-decoration:none;
  font-size:22px;
  font-weight:100;
  color:#ffffff;
  font-family:Lato,'BrandonGrotesqueBold', sans-serif;
}

.links {

}

body {
  font-family: 'Source Sans Pro', 'BrandonGrotesqueRegular', sans-serif;
}
 
/* For mobile phones:
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
} 
*/