@font-face {
  font-family: 'BrandonGrotesqueBold';
  src:  url('https://github.com/cohort/cohortstudio.com/blob/master/font/brandon-grotesque-bold/brandon_bld.woff') format('woff');
}

@font-face {
  font-family: 'BrandonGrotesqueMedium';
  src: url('https://github.com/cohort/cohortstudio.com/blob/master/font/brandon-grotesque-medium/brandon_med.eot'); /* IE9 Compat Modes */
  src: url('https://github.com/cohort/cohortstudio.com/blob/master/font/brandon-grotesque-medium/brandon_med.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://github.com/cohort/cohortstudio.com/blob/master/font/brandon-grotesque-medium/brandon_med.woff') format('woff'), /* Pretty Modern Browsers */
       url('https://github.com/cohort/cohortstudio.com/blob/master/font/brandon-grotesque-medium/brandon_med.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('https://github.com/cohort/cohortstudio.com/blob/master/font/brandon-grotesque-medium/brandon_med.svg#svgFontName') format('svg'); /* Legacy iOS */
}

* {
    box-sizing: border-box;
}


body {
  font-family: BrandonGrotesqueMedium;
  font-weight:300;
}

div {
  background: url(https://irisjang.github.io/lacma.jpg);
  height:500px;
  width:100%;
}

#cover { background-size: cover; }

h1 {
  font-size: 6vw;
  font-weight:600;
  font-family: BrandonGrotesqueBold, sans-serif;
  color:white;
  text-align:center;
}

h2{
  font-size:4vw;
  font-weight:400;
}
.pagetitle {
  font-size:4vw;
  color:white;
  font-family:BrandonGrotesqueBold, sans-serif;
}
.roles {
  position:absolute;
  font-family: BrandonGrotesqueMedium, sans-serif;
  font-size: 2vw;
  font-weight:300;
  color:black;
  text-align:center;
  vertical-align: middle;
  position:relative;
}
.bio {
  position:absolute;
  font-family: 'Garamond';
  font-style:italic;
  font-size: 1.5vw;
  font-weight:300;
  color:white;
  text-align:center;
  vertical-align: middle;
  position:relative;
}

.background_header {
    background-image:url("http://36.media.tumblr.com/baf106a6adcc185c245f2a0274c50dc9/tumblr_nzvn1sDTjD1uj0boho1_500.jpg");
  background-size: cover;
}


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}