@font-face {
  font-family: 'BrandonGrotesqueBold';
  src:  url('http://www.jakemiller.com/sites/g/files/g2000005221/f/201508/brandon_bld-webfont.woff') format('woff2'),
        url('http://www.jakemiller.com/sites/g/files/g2000005221/f/201508/brandon_bld-webfont.woff') format('woff');
}


* {
    box-sizing: border-box;
}


body {
  font-family: BrandonGrotesqueMedium;
  font-weight: 300;
}

.headercontainer {
  background: url("https://raw.githubusercontent.com/irisjang/irisjang.github.io/master/lacma.jpg") no-repeat center center fixed; 
  height:400px;
  width:100vw;
}




h1 {
  font-size: 6vw;
  font-weight:600;
  font-family: 'BrandonGrotesqueBold', sans-serif;
  color:white;
  text-align:center;
}

h2 {
  font-size:4vw;
  font-weight:400;
}
.pagetitle {
  font-size:4vw;
  color:white;
  font-family:'BrandonGrotesqueBold', sans-serif;
  margin-top:-300px;
  margin-left:100px;
}
.roles {
  position:absolute;
  font-family: 'BrandonGrotesqueMedium', sans-serif;
  font-size: 2vw;
  font-weight:300;
  color:black;
  text-align:center;
  vertical-align: middle;
  position:relative;
}
.bio {
  position:absolute;
  font-family: 'Garamond';
  font-style:italic;
  font-size: 1.5vw;
  font-weight:300;
  color:white;
  text-align:center;
  vertical-align: middle;
  position:relative;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}